<!DOCTYPE html>
<html>
<head>
  <title>Catalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="notice" style="background: green; color: white; text-align:center;">
    <%= flash[:notice] %>
  </div>
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= yield %>
    </div>
    <div class="col-md-4"></div>
  </div>
</body>
</html>
